<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./asset/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <nav>
        <div class="left">
            <ul>
                <li><a href="/" style="color: black;">Home</a></li>
                <li><a href="./Blog">Blog</a></li>
                <li><a href="./testimonial">Testimonial</a></li>
            </ul>
        </div>
    
        <div class="right">
            <a href="./contact">Contact Me</a>
            <button onclick="btnHmbrgr()"><i class="fa-solid fa-bars fa-xl"></i></button>
        </div>
    </nav>

    <!-- Hamburger -->
    <div class="humberger-list" id="humberger-list">
        <a href="/">Home</a>
        <a href="./Blog">Blog</a>
        <a href="#">Contact</a>
    </div>
    <div class="container">
        <div class="hal-1">
            <h1>Hi Welcome To My Hut</h1>
            <div class="paragraf">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit est voluptates pariatur voluptatem exercitationem velit odio possimus aut quibusdam expedita reprehenderit eum tempore facere, mollitia perspiciatis ratione, consectetur autem aliquam, quisquam minima porro rerum dolorum quo! Assumenda accusamus iusto laboriosam explicabo delectus, vel molestiae autem quam eum aut et repellat, architecto illum tempora fugiat. Quaerat eius optio cupiditate corporis, possimus temporibus impedit saepe sapiente minus nihil incidunt porro autem quo maiores laborum quis nam molestias aperiam quisquam qui aliquam! Eum consequatur, repellat dolorum atque doloribus soluta corporis voluptas.</p>
            </div>
            <div class="tmbl-button">
                <a href="https://wa.me/6287853053029"><button id="contact">contact</button></a>
                <button id="cv">
                    donload cv
                    <i class="fa-solid fa-download"></i>
                </button>
            </div>
            <div class="icon">
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2xl" style="color: black;"></i></a>
                <a href=https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2xl" style="color: black;"></i></a>
                <a href=https://www.linkedin.com/notifications/?filter=all"><i class="fa-brands fa-linkedin fa-2xl" style="color: black;"></i></a>
                <a href="https://x.com/login="><i class="fa-brands fa-twitter fa-2xl" style="color: black;"></i></a>
            </div>
        </div>
        <div class="gambar">
            <div class="shadow-gambar">
                <a href="#"><img src="../img/WhatsApp Image 2024-07-05 at 15.04.44_fddacc98 (1)_compressed (1)_page-0001.jpg"></a>
            <p class="nama-besar">
                rifki yudha
            </p>
            <p>fullstack devloper</p>
            </div>
        </div>
    </div>
    <script src="./asset/main.js"></script>
</body>
</html>