<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asset/testimonial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="./Blog">Blog</a></li>
                <li><a href="./testimonial" style="color: black;">Testimonial</a></li>
            </ul>
        </div>
    
        <div class="right">
            <a href="./contact">Contact Me</a>
            <button onclick="btnHmbrgr()"><i class="fa-solid fa-bars fa-xl" style="cursor: pointer;"></i></button>
        </div>
    </nav>

    <!-- Hamburger -->
    <div class="humberger-list" id="humberger-list">
        <a href="/">Home</a>
        <a href="./Blog">Blog</a>
        <a href="#">Contact</a>
    </div>

    <div class="container">
        <h1>My Testimonials</h1>
        <div class="container-rating">
           <h2>Rating By Star</h2>
           <div class="rating">
              <button
                 onclick="allTestimonial()"
                 class="rating-btn"
              >All</button>
              <button onclick="filterTestimonial(1)" class="rating-btn">1
                 <i class="fa-solid fa-star"></i></button>
              <button onclick="filterTestimonial(2)" class="rating-btn">2
                 <i class="fa-solid fa-star"></i></button>
              <button onclick="filterTestimonial(3)" class="rating-btn">3
                 <i class="fa-solid fa-star"></i></button>
              <button onclick="filterTestimonial(4)" class="rating-btn">4
                 <i class="fa-solid fa-star"></i></button>
              <button onclick="filterTestimonial(5)" class="rating-btn">5
                 <i class="fa-solid fa-star"></i></button>
           </div>
        </div>

        <section class="testimonials" id="testimonials">

        </section>
     </div>
    <script src="./asset/testimonial.js"></script>
</body>
</html>